<div class="material-table" ng-controller="SupportTicketController" ng-class="{ loading: usersAjaxInProgress }">
    <div class="header" ng-if="!selectedItems.length">
        <div class="caption">
        </div>
        <div class="controls">
            <div class="search">
                <input placeholder="{{:: 'search' | translate }}" type="text" ng-model="search.query">
                <i class="icon icon-search"></i>
            </div>
        </div>
    </div>
    <div class="selected-header" ng-if="selectedItems.length">
        <div class="caption">{{ selectedItems.length }} {{:: 'usersSelected' | translate }}</div>
        <div class="controls">
            <i class="icon icon-trash" ng-click="deleteUsers(selectedItems)"></i>
        </div>
    </div>
    <div class="table table-hover">
        <div class="table-row table-head">
            <!-- <div class="table-col small-col align-left">
                <md-checkbox aria-label="select all users" ng-checked="$parent.selectedItems.length === users.all.length" ng-click="toggleAllUsers()"></md-checkbox>
            </div> -->
            <!-- <div class="table-col image">{{:: 'avatar' | translate }}</div> -->
            <div class="table-col">{{:: 'Name' | translate }}</div>
            <div class="table-col">{{:: 'Email' | translate }}</div>
            <div class="table-col">{{:: 'Subject' | translate }}</div>
            <div class="table-col">{{:: 'Description' | translate }}</div>
            <!-- <div class="table-col">{{:: 'Expiration Date' | translate }}</div> -->
            <div class="table-col small-col align-right"></div>
        </div>

        <div class="table-body">
            <div class="table-row" dir-paginate="ticket in supportTicket | filter: search.query | itemsPerPage: itemsPerPage" current-page="currentPage" ng-class="{ selected: isItemSelected(supportTicket) }" ng-click="select(supportTicket)">
                <!-- <div class="table-col small-col align-left">
                    <md-checkbox aria-label="select user" ng-checked="isItemSelected(user)"></md-checkbox>
                </div>
                <div class="table-col image"><img ng-src="{{ users.getAvatar(user) }}"/></div> -->
                <div class="table-col">{{ ticket.full_name }}</div>
                <div class="table-col">{{ ticket.email }}</div>
                <div class="table-col">{{ ticket.subject }}</div>
                <div class="table-col">{{ ticket.description }}</div>
                <!-- <div class="table-col">{{ promoCodes.expiration_date }}</div> -->
                <div class="table-col small-col align-right"><i class="icon icon-pencil" ng-click="replysupportTicket(user, $event, ticket); $event.stopPropagation()" ed-tooltip="{{:: 'editBlog' | translate }}"></i></i><!-- <i class="icon icon-trash" ng-click="deletePromo(promoCodes); $event.stopPropagation()" ed-tooltip="{{:: 'Delete Code' | translate }}"></i> --></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <section class="controls">
            <div class="per-page">
                {{:: 'rowsPerPage' | translate }}
                <md-select ng-model="itemsPerPage">
                    <md-option value="5">5</md-option>
                    <md-option value="10">10</md-option>
                    <md-option value="15">15</md-option>
                    <md-option value="20">20</md-option>
                    <md-option value="30">30</md-option>
                    <md-option value="100">100</md-option>
                </md-select>
            </div>
            <div class="meta">
                1-{{ itemsPerPage }} {{ 'of' | translate }} {{ users.all.length }}
            </div>
            <dir-pagination-controls></dir-pagination-controls>
        </section>
    </div>

    <md-progress-circular class="ajax-spinner" md-mode="indeterminate" ng-if="usersAjaxInProgress"></md-progress-circular>
</div>

<script type="text/ng-template" id="assets/views/modals/reply-ticket.html">
    <md-dialog class="md-modal md-modal-wide user-modal">
        <div class="md-modal-header">
            <h1>{{:: 'Support Ticket Reply' | translate }}</h1>
            <div ng-click="users.closeModal()" class="md-close-modal"><i class="mdi mdi-close"></i></div>
        </div>
        <form ng-submit="submitReply()">

            <div class="errors"></div>
            <md-input-container>
                <label for="usage_limit">{{:: 'Reply' | translate }}</label>
                <input id="reply" type="text" ng-model="supportTicket.reply">
            </md-input-container>

            <div class="buttons">
                <md-button type="button" ng-click="users.closeModal()">{{:: 'cancel' | translate }}</md-button>
                <md-button type="submit" class="md-primary md-raised" translate>Send</md-button>
            </div>
        </form>
    </md-dialog>
</script>