<div class="product-bar-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-4 col-sm-3">
                <div class="product-title-bar" style="padding-top: 20px;">
                    <h1>{{title}}</h1>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3">
                <div class="how-it-works" style="padding-top: 8px;">
                    <h2>Art You Want</h2>
                    <a data-fancybox data-src="#how-it-works" href="javascript:;" class="btn">How it works?</a>
                    <div style="display: none;" id="how-it-works">
                        <h2>How it works?</h2> 
                        <p>How does the Art You Want area work? The Art You Want area holds all of the artwork that you've said you want. It makes it easy to toggle between all of the different pieces of artwork you like when selecting a product to print them on.<br>  <br>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  col-md-6 col-sm-6" style="overflow: hidden;max-height: 100px;">
                <div class="add-cart-slider">
                    <div class="multiple-items">
                        <div ng-if="cartItem.length==0" style="text-align: center;padding-top: 18px;">
                            <h4 style="font-size:  17px;">Apparently…you don’t want any artwork</h4>
                            <p><a href="#/artwork">Go Find Some</a> | <a href="{{baseurl}}#/dashboard/albums">Go Create Some</a></p>
                        </div>
                        <div ng-if="!cartItem.length==0" ng-repeat="cartItems in cartItem" style="margin-top: 10px;float: left;margin-left: 10px;" ng-click="viewArtDetails(cartItems)">
                            <a data-fancybox data-src="#viewArtDetails" href="javascript:;">
                                <img class="img-responsive" src="{{baseurl}}uploads/{{cartItems.user_id}}/{{cartItems.art_id}}/{{ cartItems.file_name }}" style="height: 83px;" onContextMenu="return false;" />
                            </a>
                        </div>
                        <div style="display: none;" id="viewArtDetails">
                            <div class="row">
                                <div class="col-lg-5">

                                    <div class="viewart-image" ng-click="openImage(artDetails)">
                                        <img data-fancybox data-src="#showBigImage" class="img-responsive" ng-if="artDetails.file_name" src="{{baseurl}}uploads/{{artDetails.user_id}}/{{artDetails.art_id}}/{{artDetails.file_name }}" onContextMenu="return false;"/>                                        
                                        <img data-fancybox data-src="#showBigImage" class="img-responsive" ng-if="!artDetails.file_name" src="assets/img/viewart-image.jpg" onContextMenu="return false;"/>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="viewart-text">
                                        <h2>{{artDetails.name}}</h2>
                                        <p>{{artDetails.price}}%</p>
                                        <p>This artwork adds a [mark up percentage here]% mark up to the base price of a product. <br> <br>
                                        You currently want this artwork. Get this artwork printed on a product you want today!
                                        <br></p>
                                        <button ng-click="redirectToProduct(0);" style="float:left">Print on Product</button>
                                        <button style="margin-top: 10px;" ng-click="removeFromCart(artDetails.id);">I don't want this artwork</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div style="display: none;" id="artAddedSuccessMessage">
    <div class="row">
        <div class="viewart-image">
            <p>This artwork has been successfully added to your Art Cart. To place the art on a product, go to the product page you'd like artwork to be printed on, and then select the piece of art from the Art Cart to get started.</p>
        </div>
    </div>
</div> -->

<div style="display: none;" id="showBigImage">
    <div class="row">
        <div class="viewart-image">
            <img class="img-responsive" ng-if="image.file_name" src="{{baseurl}}uploads/{{image.user_id}}/{{image.id}}/{{image.file_name}}" onContextMenu="return false;"/>
            <img class="img-responsive" ng-if="!image.file_name" src="assets/img/viewart-image.jpg" onContextMenu="return false;"/>
        </div>
    </div>
</div>


<div style="display: none;" id="artDetailsModel">
    <div  ng-show="artLoader" class="spinner" id="preloader"></div>
    <div class="row">
        <div class="col-lg-6">
            <div class="viewart-image" ng-click="openImage(artworkDetails)">
                <a data-fancybox data-src="#showBigImage" href="javascript:;"><img class="img-responsive" ng-if="artworkDetails.file_name" src="{{baseurl}}uploads/{{artworkDetails.user_id}}/{{artworkDetails.id}}/{{artworkDetails.file_name}}" alt="image" onContextMenu="return false;"/></a>
                <img class="img-responsive" ng-if="!artworkDetails.file_name" src="assets/img/viewart-image.jpg" alt="image" onContextMenu="return false;"/>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="viewart-text">
                <h2>{{artworkDetails.name}}</h2>
                <p>This piece adds a [mark up percentage here]% mark up to the base price of a product. <br> <br>
                Add this art to your “Art Cart” by clicking on the button below. What is an Art Cart? It’s a separate cart where you can hold the different types of art that you’d like to see what they’d look like on different products.
                The Art Cart is displayed under the main menu in the grey Page Title Bar.</p>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <img ng-if="!artworkDetails.is_liked" class="img-responsive" src="assets/img/Favorites.png" style="width: 20px;    cursor: pointer;" ng-click="markAsFavorites(artworkDetails.id,1);" onContextMenu="return false;"/>
                        <img ng-if="artworkDetails.is_liked" class="img-responsive" src="assets/img/fill-heart.png" style="width: 20px;    cursor: pointer;" ng-click="markAsFavorites(artworkDetails.id,0);" onContextMenu="return false;"/>
                    </div>
                    
                    <div ng-if="!artworkDetails.addedTOCart" ng-click="addCart(artworkDetails.id)" class="col-md-6 col-xs-6 col-sm-6" style="text-align:right">
                        <a class="btn btn-primary mb-2" data-fancybox data-src="#artAddedSuccessMessage" href>Add To Cart</a>
                    </div>
                    <div ng-if="artworkDetails.addedTOCart" class="col-md-6 col-xs-6 col-sm-6" style="text-align:right">
                        <a class="btn btn-primary mb-2" disabled href>Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;" id="artAdd">
    <div class="product-bar-section" style="padding: 10px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-3">
                    <div class="product-title-bar">
                        <h1>artwork</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="product-breadcumbs">
                        <ol class="breadcrumb">
                          <img class="img-responsive" src="assets/img/filter.jpg" onContextMenu="return false;"/>
                          <li><a href>Filter Artwork</a></li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                   <div class="product-filter breadcrumb">
                       <div class="form-group">
                            <select class="form-control" ng-model="size">
                                <option value>Sort by</option>
                                <option value="7200x4896">3:2</option>                                    
                                <option value="7200x5414">4:3</option>
                                <option value="7200x7200">4:4</option>
                                <option value="5760x7200">4:5</option>
                            </select>
                        </div>
                   </div>                                
                </div>
            </div>
            <div class="row">
                <div ng-if="cartItem.length==0" style="text-align: center;" class="ng-scope">
                    <h4>Apparently…you don’t want any artwork</h4>
                    <p style="margin-left: 60px;"><a href="#/artwork">Go Find Some</a> | <a href="innerartist/#/dashboard/albums">Go Create Some</a></p>
                </div>
                <div dir-paginate="artwork in cartItem | filter:size | itemsPerPage:12" ng-show="cartItem" class="col-lg-3 col-md-3 col-sm-3" ng-click="selectArts(artwork);">
                    <div class="single-product" ng-class="{'selectedborer' : selectedArt.id ==artwork.id}">
                        <img class="img-responsive" ng-if="artwork.file_name" src="{{baseurl}}uploads/{{artwork.user_id}}/{{artwork.art_id}}/{{artwork.file_name}}" onContextMenu="return false;" />
                        <img class="img-responsive" ng-if="!artwork.file_name" src="assets/img/ProductArchivePlaceholder.jpg" onContextMenu="return false;"/>
                        <div class="product-name-price">
                            <h3>20% Cost Added To Print</h3>
                        </div>
                         <!-- <div class="view-artwork" ng-click="viewArtWorkDetails(artwork)">
                            <a data-fancybox data-src="#artwork_details" href="javascript:;" class="btn">view artwork</a>
                        </div> -->
                    </div>                            
                </div>
                <div ng-show="(cartItem |filter:size).length == 0 && cartItem.length>0" style="text-align: center;">
                  <span class="errorrecordnotfound">Record Not found</span>
                </div>
                <!-- <div style="display: none;" id="artwork_details">
                    <div  ng-show="artLoader" class="spinner" id="preloader"></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="viewart-image" ng-click="openImage(artWorkDetails)">
                                <a data-fancybox data-src="#modalnew" href="javascript:;">
                                    <img class="img-responsive" ng-if="artWorkDetails.file_name" src="{{baseurl}}uploads/{{artWorkDetails.user_id}}/{{artWorkDetails.art_id}}/{{artWorkDetails.file_name}}" onContextMenu="return false;" />
                                </a>
                                <img class="img-responsive" ng-if="!artWorkDetails.file_name" src="assets/img/viewart-image.jpg" onContextMenu="return false;"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-product-details">
                                <h2>{{artWorkDetails.name}}</h2>
                                <p>This piece adds a [mark up percentage here]% mark up to the base price of a product. <br> <br>
                                Add this art to your “Art Cart” by clicking on the button below. What is an Art Cart? It’s a separate cart where you can hold the different types of art that you’d like to see what they’d look like on different products.
                                <br> <br>
                                The Art Cart is displayed under the main menu in the grey Page Title Bar.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: none;width: unset;" id="modalnew">
                    <div class="row">
                        <div class="viewart-image">
                            <img class="img-responsive" ng-if="image.file_name" src="{{baseurl}}uploads/{{image.user_id}}/{{image.art_id}}/{{image.file_name}}" onContextMenu="return false;"/>
                            <img class="img-responsive" ng-if="!image.file_name" src="assets/img/viewart-image.jpg" onContextMenu="return false;"/>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="paginations" style="color: unset;">
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" style="background-color: unset;border-color: unset;"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: none;" class="cropping" id="modalcrop">
    <div class="row">
        <div class="viewart-image">
            <img id="cropper_image" style="max-height: 300px;"  src="" alt="Picture">
        </div>
        <button style="margin-top: 10px;" type="button" ng-click="getInformaiton();">I don't want this artwork</button>
    </div>
</div>