<div ng-include="'views/header.html'"></div>
<div class="breadcumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-breadcumbs">
                    <p style="font-size: 40px;text-align: center;">COMING SOON!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcumb Section Start -->
<div ng-include="'views/footer.html'"></div>
<style type="text/css">
.breadcumb-section.ng-scope {
    padding: 40px 0;
    min-height: 250px;
}
</style>