<div ng-include="'views/header.html'"></div>
<div class="breadcumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-breadcumbs">
                    <ol class="breadcrumb">
                         <img class="img-responsive" src="assets/img/filter.jpg" alt="image" onContextMenu="return false;"/>
                      <li><a href="#">Filter Artwork</a></li>
                      <li class="active">Showing 1-8 of 30 results</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
               <div class="product-filter">
                   <div class="form-group">
                      <select class="form-control" id="sel1">
                        <option>Sort by</option>
                        <option>Option One</option>
                        <option>Option Two</option>
                      </select>
                    </div>
               </div>                                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
               <div class="product-filter">
                   <div class="form-group">
                      <select class="form-control" id="sel1">
                        <option>Price Range</option>
                        <option>Option One</option>
                        <option>Option Two</option>
                      </select>
                    </div>
               </div>                                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
               <div class="product-filter">
                   <div class="form-group">
                      <select class="form-control" id="sel1">
                        <option>Categories</option>
                        <option>Option One</option>
                        <option>Option Two</option>
                      </select>
                    </div>
               </div>                                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
               <div class="product-filter">
                   <div class="form-group">
                      <select class="form-control" id="sel1">
                        <option>Color</option>
                        <option>Option One</option>
                        <option>Option Two</option>
                      </select>
                    </div>
               </div>                                
            </div>
        </div>
        <div class="row">
            <div dir-paginate="userArtworks in userArtwork |itemsPerPage:12" ng-show="userArtwork" class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-product">
                    <img class="img-responsive" ng-if="userArtworks.file_name" src="{{baseurl}}uploads/{{userArtworks.user_id}}/{{userArtworks.id}}/{{userArtworks.file_name}}" alt="image" style="width: 263px;height: 263px;" onContextMenu="return false;"/>
                    <img class="img-responsive" ng-if="!userArtworks.file_name" src="assets/img/ProductArchivePlaceholder.jpg" alt="image" onContextMenu="return false;"/>
                    <div class="product-name-price">
                        <p>{{userArtworks.name}}</p>
                    </div>
                     <div class="view-artwork" ng-click="open(userArtworks)">
                        <a data-fancybox data-src="#modal1" href="javascript:;" class="btn">view artwork</a>
                    </div>
                </div>                            
            </div>
            <div style="display: none;" id="modal1">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="viewart-image">
                            <img class="img-responsive" ng-if="data.file_name" src="{{baseurl}}uploads/{{data.user_id}}/{{data.id}}/{{data.file_name}}" alt="image" style="width: 361px;height: 272px;" onContextMenu="return false;"/>
                            <img class="img-responsive" ng-if="!data.file_name" src="assets/img/viewart-image.jpg" alt="image" onContextMenu="return false;"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="viewart-text">
                            <h2>{{data.name}}</h2>
                            <p>This piece adds a [mark up percentage here]% mark up to the base price of a product. <br> <br>
                            Add this art to your “Art Cart” by clicking on the button below. What is an Art Cart? It’s a separate cart where you can hold the different types of art that you’d like to see what they’d look like on different products.
                            <br> <br>
                            The Art Cart is displayed under the main menu in the grey Page Title Bar.</p>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="paginations">
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/footer.html'"></div>